.App {
  text-align: center;
}



header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px;
}

body{
  background-image: url(../public/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
 
}


.img > img{
  width: 100%;
}

.components{
  background-color: white;
  max-width: 500px;
  height: 100vh;
  margin-top: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}


